
<launch>
		
       
        <node pkg="rviz" type="rviz" name="rviz" args="-d /home/nathaniel/simulation/src/ros-videoray-sim/rviz/sim.rviz"/> 
        
         
        <param name="robot_description" command="cat $(find move_videoray)/videoray.urdf" />
        
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        
        <node name="pose_filter" pkg="move_videoray" type="pose_filter.py"/>
        
        <node pkg="tf" type="static_transform_publisher" name="sonarscan" args="0 0 0 0 0 0 1 sonar_link sonar 100" /> 

        <node name="propFilter" pkg="move_videoray" type="propFilter" />
		
		<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.5" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="odom" />
		
		<param name="sensor_model/max_range" value="20.0" />
		<param name="pointcloud_max_z" value="-.5"/> 
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="propFilter" />
	
	</node>
	
       
</launch>